@import "tailwindcss";

@theme {
  --color-lightblue: #90CAF9;
  --color-indigo: #5C6BC0;
  --color-blueGray: #B0BEC5;
  --color-amber: #FFCA28;
  --color-lightGreen: #9CCC65;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;

}
